*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    transition: all .7s ease-in-out;
}
.titel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44px;
    font-weight: 500;
    padding: 14px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: #cec9c9;
    padding: 24px;
    border-radius: 16px;
}
.cirkrl {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    
}
.red {
    background-color: rgb(250, 85, 9);
}
.kuning {
    background-color: rgb(193, 231, 56);
}
.hijau {
    background-color: rgb(10, 218, 100);
}
.hitam {
    background-color: blueviolet;
}
.ungu {
    background-color: black;
}
.kembali {
    /* width: 50vh;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
     */
     display: inline-block;
     padding: 10px 50px;
     border-radius: 8px;
     font-size: 20px;
    
}
.kembali:hover {
    background-color: black;
    color: white;
}